---
# projects_include
#
# list of projects to be included from the sync
# defaults to all available projects with :all
#
# example:
#
# projects_include:
#   - only_wanted_project

projects_include: :all

# groups_include
#
# list of groups to be included from the sync
# defaults to all available groups with :all
#
# example:
#
# groups_include:
#   - only_wanted_group

groups_include: :all
